

<div class="container mt-5">
    <h2>Hoş geldin, <%= user.email %>!</h2>
    <p>Giriş yaptınız ve burası sadece yetkili kullanıcılar içindir.</p>

    <a href="/users/logout" class="btn btn-danger">Çıkış Yap</a>
</div>
